<!DOCTYPE html>
<html lang="en">
	<!-- <sly data-sly-use.pageInfo="com.ups.components.use.SightlyUtils">
	 	<meta name="page_country_code" content="${pageInfo.country}">
	    <meta name="page_language" content="${pageInfo.language}">
	    <meta name="site_area" content="${properties.siteArea}">
	    <meta name="site_sub_area" content="${properties.siteSubArea}">
	    <meta name="page_id" content="${pageInfo.pageIdForTealium}.html">
    </sly> -->
    <head data-sly-include="head.html"></head>
    <body data-sly-include="body.html"></body>
</html>
